/*body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

*/
/*<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">*/
/*<style>*/
/*body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}*/

body { 
	background-color: #ffd9cc;
 }
h1 {font-family: "Lato", sans-serif;}
p { font-family: "Lato", sans-serif; }
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}